/*イベントページcss*/
.event-thmbnail video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.event-thmbnail{
    height: calc(100vh - (70px + 105px));
    overflow: hidden;
}
.event-title{
    position: absolute;
    bottom: 180px;
    right: 30px;
    margin-left: 30px;
    font-size: 100px;
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    text-align: right;
}
.event-thmbnail-subtitle{
    position: absolute;
    bottom:120px;
    right: 30px;
    color: #ffffff;
    font-size: 30px;
    transition: all 1s ease;
}


.aboutevent{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.aboutevent-title{
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 30px;
}
.aboutevent p{
    margin-bottom: 10px;
}
.event-content-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.event-is-layer-dot {
    position: relative;
}
.event-is-layer-dot::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4px);
    content: "";
    display: block;
    background-color: rgba(120, 120, 120, 0.3);
    background-image: radial-gradient(#000000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 5px 5px;
}

/*スクロールダウン*/

.scrolldown a {
    display: inline-block;
    position: absolute;
    left: 50px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
  }
.scrolldown a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: #fff;
}
.scrolldown a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    background: rgba(255, 255, 255, .4);
  }
.scrolldown a::after {
    height: 30px;
    animation: sdl 1.5s ease infinite;
}
@keyframes sdl {
    0% {
        transform: translateY(-70px);
    }
    50%, 100% {
        transform: translateY(30px);
    }
}

/*フェードイン*/
.fadein {
    opacity: 0;
    transform: translate(0,20px);
    transition: all 1s;
}
.scrollin{
    opacity: 1;
    transform: translate(0, 0) ;
}


@media screen and (max-width:1000px) {
    .event-title{
        font-size: min(20vw, 100px);
    }
}