/*イベントページcss*/
.event-thmbnail video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.event-thmbnail{
    height: calc(100vh - (80px + 124px));
    overflow: hidden;
}
.event-title{
    position: absolute;
    bottom: 180px;
    right: 30px;
    margin-left: 30px;
    font-size: 100px;
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    text-align: right;
}
.event-thmbnail-subtitle{
    position: absolute;
    bottom:120px;
    right: 30px;
    color: #ffffff;
    font-size: 30px;
    transition: all 1s ease;
}


.aboutevent{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.aboutevent-title{
    font-family: 'Libre Baskerville', serif;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 30px;
}
.aboutevent p{
    margin-bottom: 10px;
}
.event-content-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.event-is-layer-dot {
    position: relative;
}
.event-is-layer-dot::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4px);
    content: "";
    display: block;
    background-color: rgba(120, 120, 120, 0.3);
    background-image: radial-gradient(#000000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 5px 5px;
}


@media screen and (max-width:1000px) {
    .event-title{
        font-size: min(20vw, 100px);
    }
}