body{
    font-family: 'Montserrat', sans-serif; 
    font-family: Hiragino Kaku Gothic ProN、ヒラギノ角ゴ ProN、Hiragino Kaku Gothic Pro、ヒラギノ角ゴ Pro; 
}
a{
    text-decoration : none;
}

.is-layer-dot {
    position: relative;
    height: 600px;
}
.is-layer-dot::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: rgba(120, 120, 120, 0.3);
    background-image: radial-gradient(#000000 20%, transparent 0), radial-gradient(#000 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 5px 5px;
    border-radius: 30px 0 0 30px;
}

.top-thmbnail{
    position: relative;
    margin-left: 10vw;
    max-height: 70vh;
    overflow: hidden;
    border-radius: 30px 0 0 30px;
}
.top-thmbnail video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-thmbnail-titlecontainer{
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
    color: #ffffff;
    margin-left: 30px;
    width: calc(100% - 60px) ;
}
.top-thmbnail-titlecontainer svg{
    fill: #fff;
    height: 50px;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}
.top-thmbnail-titlecontainer h1{
    font-size: min(15vw,100px);
    font-family: 'Libre Baskerville', serif;
    margin-left: calc(50px + 30px);
}
.top-thmbnail-titlecontainer h2{
    font-size: min(5vw,30px);
}


.news-column-wrapper{
    display: flex;
    justify-content: center;
}
.column{
    margin: 30px;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
}
.news{
    flex-direction: column;
    background-color: #f1f1f1;
    max-width: 1200px;
    width: 100%;
}
.column-title{
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
}

.newsfeed-content p{
    text-align: center;
    margin: 100px;
}

.about-all{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}
.about-innerwrapper{
    width: 1000px;
    display: flex;
}
.about-all img{
    width: 400px;
    height: auto;
    margin-right: 100px;
}
.about-all h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
}
.about-content p{
    margin-bottom: 30px;
}

.map-column{
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map-content-container{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    justify-content: start;
}
.map-content-container h1{
    font-family: 'Libre Baskerville', serif;
}
.map-content{
    margin: 20px;
}

.map-embed{
    height:500px; 
    border-radius: 0 30px 30px 0 ;
    overflow: hidden;
    width: 70vw;
}

.contact{
    align-items: center;
    margin: 100px;
    justify-content: center;
}
.icon-badge{
    background-color:#F1C400;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #fff;
}
.icon-badge img{
    width: 40px;
    height: auto;
    margin: 0;
}

.more-button{
    border: 3px #EB0028 solid;
    background-color: #EB0028;
    color: #fff;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    position: relative;
    fill: #fff;
}
.more-button-contnet{
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.more-button svg{
    position: absolute;
    height: 30px;
    width: auto;
    right: 15px;
    top:10px
}
.more-button:hover{
    background-color: #fff;
    color: #EB0028;
    fill: #EB0028;
}


/* 011 */
.button011 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eee;
    overflow:hidden;
}
.button011 a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 500%;
    content: "";
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
    background: #EB0028;
    opacity: 0.2;
}
.button011 a:hover:before {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
/* 012 */
.button012 a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px 10px 50px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eee;
    border-radius: 50px;
    z-index:0;
    overflow: hidden;
}
.button012 a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f005";
    line-height: 1;
    position: absolute;
    left: 5px;
    background: #FFF;
    padding: 12px 11px;
    border-radius: 60px;
    z-index: 2;
}
.button012 a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    display: block;
    background: #ccc;
    transition: .3s;
    left:0;
}
.button012 a:hover:after {
    width: 100%;
    z-index: -1;
}



@media screen and (max-width:1000px) {
    .about-innerwrapper{
        flex-direction: column;
        width: 90vw;
    }
    .about-innerwrapper h1{
        font-size: min(10vw,50px);
    }
    .about-innerwrapper p{
        margin-top: 50px;
    }
    .about-innerwrapper img{
        max-width: 400px;
        width: 80vw;
        margin: 0;
    }
    .map-column{
        flex-direction: column;
        border-radius: initial;
        margin: 0;
    }
    .map-content-container{
        display: inline;
        text-align: left;
        width: 100%;
    }
    .map-content-inner{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .map-embed{
        height:500px;
        width: calc(100% - 5vw);
        margin-right: 5vw;
    }
}
@media screen and (max-width:600px) {
    .top-thmbnail-titlecontainer svg{
        display: none;
    }
    .top-thmbnail-titlecontainer h1{
        margin: 0;
    }
}